<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>가게 음악 리스트</h1> 
        {% ifequal song.count 0 %}
            신청된 노래가 없습니다.
        {% else %}
            <a href="{% url 'main:song_all_delete' store_id=store_id %}">초기화</a>
            <br/><br/>
            {% for s in song %}
                {% ifequal s.played False %}
                    {{s.title}} - {{s.singer}}
                    {{s.order_time|date:"Y .m .d"}}
                    <br/>
                    <a href="{% url 'main:song_listen' song_id=s.pk %}">완료</a>
                    <a href="{% url 'main:song_delete' song_id=s.pk %}">삭제</a>
                    <br/>
                    -------
                    <br/>
                {% endifequal %}
            {% endfor %}


            완료리스트 <br/>
            {% for s in song %}
                {% ifequal s.played True %}
                    {{s.title}} - {{s.singer}}
                    {{s.order_time|date:"Y .m .d"}}
                    <a href="{% url 'main:song_return' song_id=s.pk %}">되돌리기</a>
                    <br/>
                    -------
                    <br/>
                {% endifequal %}
            {% endfor %}
        {% endifequal %}
    </body>
</html>