<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>가게 음악 리스트</h1>
        
        <a href="{% url 'main:song_all_delete' store_id=store_id %}">초기화</a>
            <br/>
            {% for s in song %}
                {{s.title}} - {{s.singer}}
                <br/>
                {{s.message}}
                <br/>
                <a href="{% url 'main:song_delete' song_id=s.pk %}">삭제</a>
                <br/>
                -------
                <br/>
            {% endfor %}
        <br/>
        
        
        
    </body>
</html>